@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  /* font-family: 'Poppins', sans-serif; */
}


body{
  min-height:100vh;
  background:
    url("../image/bg.png") center/cover no-repeat fixed;
  color:#fff;
}

a {
    text-decoration: none;
}

header {
    width: 1140px;
    max-width: 80%;
    justify-content: space-between;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

header a {
    font-size: 17px;
    color: #eee;
    margin-right: 40px;
}

.logo {
    font-size: 26px;
    font-family: 'Orbitron', sans-serif;
    color: #b06cff;
}

.logo span {
    color: #27ffe8;
}

nav a {
    margin-left: 30px;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 500;
}

nav a:hover {
    color: #9c4bff;
    text-shadow: 0 0 10px #9c4bff;
}


#menu-toggle{ display:none; }
.menu-icon{
  display:none;
  font-size:28px;
  color:#00ffe1;
  cursor:pointer;
}


h1 {
  color: #27ffe8;
  font-size: 40px;
  font-weight: 600;
  padding-top: 50px;
}


.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}


.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid #27ffe8;
  background: transparent;

  transition: 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: rgba(39, 255, 232, 0.1);
  box-shadow: 0 0 18px rgba(39, 255, 232, 0.6);
}


img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}

/* Score board */
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-top: 3rem;
  gap: 5rem;
  color: #ccc;
}

#user-score,
#comp-score {
  font-size: 48px;
  color: #27ffe8;
}


.msg-container {
  margin-top: 4rem;
}

#msg {
  color: #fff;
  font-size: 22px;
  padding: 12px 22px;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid #27ffe8;
}


footer {
 
  padding: 40px 20px;
  text-align: center;

  margin-top: 80px;
}

footer .footer-logo {
  font-size: 28px;
  color: #b06cff;
  margin-bottom: 10px;
}

footer .footer-logo span {
  color: #27ffe8;
}

footer p {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 20px;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

footer .social-icons a {
  color: #00ffe1;
  font-size: 24px;
  transition: 0.3s;
}

footer .social-icons a:hover {
  color: #b56cff;
  transform: scale(1.2);
  text-shadow:  0 0 5px #b56cff;
}


@media (max-width: 768px) {
  footer .footer-logo {
    font-size: 24px;
  }

  footer .social-icons a {
    font-size: 20px;
  }
}

